<div class="banner">
  <div class="navbar">
    <div class="logo"></div>
    <%= link_to "Create new List", new_list_path, class: "btn btn-primary"%>
  </div>
</div>
<div class="con d-flex flex-direction-row">
    <div class="card p-3 mt-3 me-3 mb-3 card-index-1 ">
    <img src=<%= @lists.first.img_url %> alt="">
    <h2><%= @lists.first.name %></h2>
    <%= link_to "See details", list_path(@lists.first), class: "btn btn-primary"%>
    <%= link_to "Delete", list_path(@lists.first), data: {turbo_method: :delete} %>
    </div>
  <% @lists[1..-1].each do |list| %>
    <div class="card p-3 m-3 card-index">
    <img src=<%= list.img_url %> alt="">
    <h2><%= list.name %></h2>
    <%= link_to "See details", list_path(list), class: "btn btn-primary"%>
    <%= link_to "Delete", list_path(list), data: {turbo_method: :delete} %>
    </div>
  <% end %>
</div>
